<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(data.length>0){%>
        <table style="border: solid;">
            <tbody>
        <%for(var a=0; a< data.length; a++ ){%>
            <tr>
                <td><%=data[a].owner%></td>
                <td><%=data[a]._id%></td>
                <td><%=data[a].restaurant%></td>
                <td><%=data[a].drink%></td>
                <td><%=data[a].food%></td>
            </tr>
            <%}%>
        </tbody>
        </table>
    <%}%>



    <h3>See All Order made: <button id="get-orders">Click Here</button></h3>
</body>
<!-- <script>
        const getOrders = document.querySelector('#get-orders')

getOrders.addEventListener('click', async (e)=>{
    e.preventDefault()

    let container = []

    const res = await fetch('/get-orders')
    .then(res => res.json())
    .then(data=> console.log(data))
})
</script> -->
</html>